@page "/DiaryWrite"
@using System.ComponentModel
@using WenJiuDiary.Library.Services
@inject IDiaryStorage _diaryStorage
@inject INavigationService _navigationService

<div class="row">
    
    <div class="col-sm-12 col-md-10" style="margin-top:30px">
        @(DateTime.Now.ToString("yyyy-M-d dddd"))
        <div style="margin-top:10px"></div>
        <BootstrapInput TValue="string" PlaceHolder="请输入标题..." @bind-Value="_name"/>
        <br>
        <Editor IsEditor="true" Height="400" PlaceHolder="请输入内容" ShowSubmit="false" @bind-Value="_content"/>
    </div>

    <div style="margin-left:50px;" class=" col-sm-12 col-md-1  ">
        <Button style="background-image: url( /right.png); background-size:40px 40px; height:40px;width:40px; " ButtonStyle="ButtonStyle.Circle" Color="Color.Light" OnClick="SaveAsync"></Button>
    </div>
</div>





